<div [formGroup]="group" class="col s{{config.col}} m{{config.col}}">
  <div class="input-field col s12">
    <select id="{{config.name}}" name="{{config.name}}" formControlName="{{config.name}}">
      <option value="" disabled selected>{{config.placeholder}}</option>
      <option *ngFor="let option of config.options" value="{{option.text?option.value:option }}">{{option.text?option.text:option  }}</option>
    </select>
  </div>
</div>
