<div class="col s6 m{{config.col}} offset-s6 offset-m{{config.offset}}">
  <button [disabled]="group.invalid" (click)="click($event,config)" class="waves-effect waves-light btn"><i class="material-icons left">{{config.icon}}</i>{{config.value}}</button>
</div>
