  <div class="progress" *ngIf="working">
    <div class="indeterminate"></div>
  </div>


  <div class="row">
    <div *ngFor="let row of data" class="col s12 m6 l4">
      <div dynamicListItem [config]="config" [row]="row"></div>
    </div>
  </div>

  <ul class="pagination" *ngIf="total.length>1">
    <li [ngClass]="{'disabled':page == 1,'waves-effect':page > 1}"><a (click)="prev()"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect" *ngFor="let p of total;let i = index" [ngClass]="{'active':page==i+1}"><a (click)="getData(i+1)">{{i+1}}</a></li>
    <li [ngClass]="{'disabled':page == total.length,'waves-effect':page < total.length}" ><a (click)="next()"><i class="material-icons">chevron_right</i></a></li>
  </ul>
