<div class="row">
  <div class="col s12 m4">
    <div class="input-field col s12">
      <select (change)="sort($event.target.value)" [(ngModel)]="sort_critieria">
        <option value="" disabled selected>Choose your method</option>
        <option value="deliveryDate">Delivery Date</option>
        <option value="status">Status</option>
        <option value="courier">Courier</option>
        <option value="startedAt">Delivery start date</option>
      </select>
      <label>Sorting By</label>
    </div>
  </div>

  <div class="col s12 m8">
    <dynamic-form [config]="filteration_config"></dynamic-form>
  </div>
</div>
<dynamic-list [queryObject]="queryObject" [config]="listConfig"></dynamic-list>
