  <div [formGroup]="group" class="input-field col s{{config.col}} m{{config.col}}">
    <input [readonly]="config.readOnly" id="{{config.label}}" formControlName="{{config.name}}" value="{{config.value}}" type="text" class="validate">
    <label for="{{config.label}}">{{config.label}}<span [hidden]="!config.required" style="color:red">*</span></label>
    <validation [group]="group" [validators]="config.validators" [label]="config.label" [name]="config.name" ></validation>
  </div>
