  <div class="row">
    <form class="col s12 m12" action="{{config.props.action}}" method="post" (submit)="submit($event)" [formGroup]="group">
      <div class="row" *ngFor="let row of config.rows">
        <ng-container
          *ngFor="let element of row"
          dynamicField
          [group]="group"
          [config]="element">
        </ng-container>
      </div>
    </form>
  </div>
