<div class="card small">

  <div class="card-content">

    <span class="card-title">{{row.courier}}</span>
    <div class="row">
      <div class="col s10 m10">
        <p>{{row.description}}</p>
      </div>
      <div class="col m2 s2">
        <a (click)="setTaskCoords(row.fromLocation,row.toLocation)" href="#modal{{row.id}}" class="btn-floating  waves-effect waves-light modal-trigger green"><i class="material-icons">place</i></a>
      </div>
    </div>
    <div class="row">
      <div class="col s5 m5">
        <span class="">{{row.startedAt}}</span>
      </div>
      <div class="col s2 m2">
        <i class="tiny material-icons">arrow_forward</i>
      </div>
      <div class="col s5 m5">
        <span class="">{{row.finishedAt}}</span>

      </div>
    </div>

  </div>
  <div class="card-action">
    <span>{{row.driverName}}</span>
    <span class="new badge" [ngClass]="{'red':row.status == 'failed','yellow':row.status == 'pending','green':row.status == 'completed'}" data-badge-caption="status">{{row.status}}</span>
    <form name="status_form" (change)="update_status($event,$event.target.value,row.id)" *ngIf="row.status == 'pending'">
      <p>
        <label>
          <input name="status" type="radio" value="completed" />
          <span>Completed</span>
        </label>
        &nbsp;&nbsp;
        <label>
          <input name="status" type="radio"value="failed" />
          <span>Failed</span>
        </label>
      </p>
    </form>
  </div>
</div>

<!-- Modal Structure -->
  <div id="modal{{row.id}}" class="modal">
    <div class="modal-content" style="height:400px;">
      <app-google-map [coords]="coords" [mapId]="row.id"></app-google-map>
    </div>
    <div class="modal-footer">
      <a   class="modal-close waves-effect waves-green btn-flat modal-close">Close</a>
    </div>
  </div>
